extends layout


block content
      div.container
        div
          div.wrip.card(style='width:50%')
            table(style='width=1800;')
              thead
                th(style='width:20px;') Ip
                th Time 
                th Resource 
                th Referer
                th statusCode
              each item in timesqli
                tr
                  td #{item.ip}
                  td #{item.time}
                  td #{item.resource}
                  td #{item.referer}
                  td #{item.statusCode}